/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */

*{
  box-sizing: border-box; /*respect the width*/
  max-width: 100%; /*stops images from being larger than their parent*/
  padding:0;
  margin:0;

  border: 1px solid lightblue;
}

html{
  font-size:62.5%; /*makes 1 rem == 10px*/
}
body{
  font-family: 'Roboto Mono', monospace;
  font-size:1.6rem; /*brings back to 16px, but responsive*/
  color: #4F4F4F;
}

h1{
    font-family: 'Chelsea Market', cursive;
    font-size: 4rem;
}

a{
    font-family: 'Roboto Mono', monospace;
    text-decoration:none;
}
span{
    font-weight: bold;
}

section{
    padding: 4% 0;
}

/*HEADER STYLES*/
nav{
    padding: 2% 0;
    /* margin-left: auto;
    margin-right: auto; */
}
nav a{
    display: inline-block;
    padding: 1% 0;
    width: 15%;
    border-radius: 10px;
    text-align: center;
    color:white;
}
.orange{
    background: #FF764E;
    margin-left: 12%;
}
.blue{
    background: #5ED3EB;
    margin: 0 12%;
}
.yellow{
    background: #FFCD69;
    margin-right:12%;
}

/*TITLE STYLES*/
.titles{
    text-align: center;
    position: relative;
}
.left, .right {
    display: inline-block;
}
.left{
    width: 30%;
    margin-left: 5%;
}
.left img{
    border-radius: 50%;
}
.right{
    width: 55%;
    margin-left: 5%;
}
.right div{
    position:absolute;
    top: 25%;
}
.right p{
    margin-top: 2%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* PARAGRAPH STYLES */
.paras{
    background-color:lightcoral;
    color: white;
    margin: 5%;
    text-align: center;
}
.paras p{
    margin: 1% 10% 1% 10%;
}

/* ICON SECTION STYLES */
.icons{
    margin: 5%;
    text-align: center;
}
.icons img{
    max-width: 10%;
}
.icons p{
    font-size: 1rem;
    max-width:30%;
    margin-left: auto;
    margin-right: auto;
    line-height:1.2;
}

/* PANORAMA STYLES */
.panorama {
    background-image: url("assets/footer_img.jpg");
    margin-top:0;
    margin-bottom:0;
    min-height: 200px;
    background-size: cover;
    background-position:top; /* Center the image */
    background-repeat: no-repeat;
}

/* FOOTER STYLES */
footer{
    background-color: rgb(211, 204, 182);
}